.text-center {
    text-align: center;
}

.homepage-vacancies {
    .nhsuk-summary-list__row {
        display: block;

        dt, dd {
            width: 100%;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nhsuk-action-link__link:hover,
    .nhsuk-action-link__link:focus {
        box-shadow: none;
    }
}

#nhs-feed {
    .nhsuk-action-link__link:hover,
    .nhsuk-action-link__link:focus {
        box-shadow: none;
    }
}

.nhsuk-grid__item {
    margin-bottom: 56px;
}

.nhsuk-list {
    margin-left: 0;
}

.nhsuk-grid-row hr:last-child {
    display: none;
}

section.nhsuk-grid-row{
    padding-top: 56px;

    &.white-row{
        background: #fff;
    }
}

.wp-block-embed__wrapper iframe {
    width: 100%;
    height: 400px;
}

.nhsuk-checkboxes__item {
    &.hidden {
        display: none;
    }

    &.checked label {}
}

details .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after{
    top: 10px;
    width: 18px;
}

.nhsuk-details.hidden {
    display:none;
}

.nhsuk-fieldset__legend {
    margin-bottom: 0;
}
.nhsuk-footer__list-item-link,
.rd .nhsuk-global-footer .menu-footer-links-container .menu li a{
    color: #425563 !important;
}

@media (min-width: 40.0625em) {
    .autocomplete__input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding: 0 12px !important;
    }
}

.nhsuk-promo__link-wrapper {
    width: 100%;
}

// nhs feed tweaks
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nhs-feed-wrapper {
    min-height: 350px;
}
.loading:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}


.nhsuk-header--transactional {
    .nhsuk-header__link {
        color: #fff;
        text-decoration: none;
        width: auto;
        height: auto;
        display: inline-block;
    }
    .nhsuk-logo {
        display: block;
        height: 25px;
    }
}
.nhsuk-logo__tagline {
    width: auto;
    display: block;
    font-family: Frutiger W01, Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1em;
    margin-top: 5px;
}
.nhsuk-logo__nameline {
    font-weight: normal;
}

.case-studies {
    fig.nhsuk-image {
        float: left;
        margin: 0 20px 20px 0;
        width: 33%;
    }
    h1, h2, h3, h4, h5, h6 {
        clear: none;
    }
}

